
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.galdiv {
    font-size: 15px;
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
}

.galdiv b {
    font-size: 14px;
}

.galdiv img {
    width: 145px !important;
    height: 145px !important;
    border: solid #528AAE;
        
}

.galtxt {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 800px) {
.galdiv { width: 45%; font-size: 15px; }
}

